.container {
  margin: 10% 10%;
}
.calculator {
  height: 550px;
  width: 400px;
  background-color: #b9c6d2;
  margin: 0 auto;
  border: #000 1px solid;
  border-radius: 5px;
  position: relative;
}

input {
  width: 95%;
  height: 30%;
  position: relative;
  top: 10px;
  left: 7px;
  text-align: end;
  border: #000 1px solid;
  border-radius: 5px;
  margin-bottom: 20px;
}

#btn-area {
  margin-top: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  text-align: center;
  padding: 0 7px;
}

button {
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  flex: 20%;
  padding: 20px 10px;
  margin: 1px;
  border-color: #000;
  border-radius: 5px;
}

button:hover {
  background-color: #c6d2b9;
  color: #000;
  transition: ease-in-out 0.3s;
}

.output {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.current,
.history {
  border: black 1px solid;
}
.output h3 {
  text-decoration: underline;
}
